.clock__text {
  display: flex;
  justify-content: center;
}

.clock__text-hour,
.clock__text-minutes {
  font-size: 300%;
  font-weight: bold;
  color: var(--title-color);
}

.clock__text-ampm {
  font-size: var(--tiny-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-left: var(--mb-0-25);
}

.clock__date {
  text-align: center;
  font-size: 120%;
  font-weight: var(--font-medium);
}
